
.py-120{
    padding: 6.875rem 0;
}



.mb-30{
    margin-bottom: 1.875rem;
}

.mb-60{
    margin-bottom:  3.75rem;
}

.mb-80{
    margin-bottom: 5rem;
}

.mt-30{
    margin-top: 1.875rem;
}

.mb-50{
    margin-bottom: 3.125rem;
}

.mb-25{
    margin-bottom: 1.563rem;
}
