

/* -----------hereSection--------- */

@media all and (max-width : 767px){
    .mediaCenter{
        text-align: center;
    }
    .primary{
        margin-bottom: 40px;
    }
    .heroImg .card-footer .py-4{
        padding: 1rem  0 !important;
    }
    .heroImg .pri-heading::before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media all and (min-width : 1024px) and (max-width : 1180px){
    .py-120{
        padding: 2.5rem 0;
    }
}