/* -----------------Header CSS--------------------- */

.mainHeader .navbar-nav .active>.nav-link::before,
.mainHeader .navbar-nav .nav-link.active::before,
.mainHeader .navbar-nav .nav-link.show::before,
.mainHeader .navbar-nav .show>.nav-link::before,
.mainHeader .navbar-nav .active>.nav-link,
.mainHeader .navbar-nav .nav-link.active,
.mainHeader .navbar-nav .nav-link.show,
.mainHeader .navbar-nav .show>.nav-link {
    width: 100%;
    color: var(--pri--col);
}

.mainHeader .navbar-nav .nav-link {
    color: var(--white-col);
    text-transform: capitalize;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
    position: relative;
}

.mainHeader .navbar-nav .nav-link::before {
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: .188rem;
    background-color: var(--pri--col);
    transition: all 0.3s ease-in-out;
    position: absolute;
}

.mainHeader .navbar-nav .nav-link:hover::before,
.mainHeader .navbar-nav .nav-link:active::before,
.mainHeader .navbar-nav .nav-link:focus::before,
.mainHeader .navbar-nav .nav-link:hover,
.mainHeader .navbar-nav .nav-link:focus,
.mainHeader .navbar-nav .nav-link:active {
    color: var(--pri--col);
    width: 100%;
}

.mainHeader {
    background-color: var(--dark-col);
}

.mainHeader .bg-light {
    background-color: var(--dark-col) !important;
}

.mainHeader .navbar-toggler .fas.fa-bars {
    color: var(--pri--col);
    border: .188rem solid var(--pri--col);
    padding: .313rem .5rem;
}


/* -----------HeroSection----------- */

.heroImg {
    /* height: calc(100vh - 60.8px); */
    background-image: url(../images/img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.heroImg .pri-heading {
    font-size: 2.25rem;
    width: 90%;
    color: var(--white-col);
}

.heroImg .pri-para {
    color: var(--white-col);
    font-size: 1rem;
    font-weight: 300;
}

.primary {
    height: 2.785rem;
    width: 8.125rem;
    border: 2px solid var(--white-col);
    color: var(--white-col);
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.primary::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0%;
    background-color: var(--pri--col);
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.primary:hover::before,
.primary:focus::before,
.primary:active::before {
    width: 100%;
}


.heroImg .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--card-header);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.heroImg span {
    color: var(--pri--col);
    text-transform: uppercase;
}

.card-body input {
    border: 0px;
    border-bottom: 1px solid var(--form-input);
    border-radius: 0px;
}

.card-body input::placeholder {
    color: var(--form-input);
}

.form-control:focus {
    border-color: var(--form-input) !important;
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 1);
}

.btn-bg {
    background-color: var(--sec--col);
    color: var(--white);
    font-weight: 700;
}

/* ----------Social Media-------------- */

.socialMedia i {
    color: var(--social-icon) !important;
    transition: all .3s ease-in-out;
}

.socialMedia i:hover {
    color: var(--pri--col) !important;
}

hr {
    border-top: 2px solid var(--hr-color);
}


/* ------------featureOne Section------------- */

.featureOne nav {
    flex: 0 0 6.875rem;
}

.featureOne .nav-link {
    width: 100%;
    padding: 3.438rem 0;
    color: var(--white-col);

}

.featureOne .tab-pane {
    padding-left: 6.875rem;
}

.featureOne .sec-para {
    font-weight: 400;
    color: var(--para-)
}

.featureOne .sec-heading {
    color: var(--para-);
}

.featureOne .nav-tabs {
    background-color: var(--tab-bg);
}

.featureOne .nav-tabs .nav-link.active {
    background-color: var(--pri--col);
    border-color: var(--pri--col);
    color: var(--white-col);
    border-radius: 0;
}


/* ------------FeatureTwo------------------ */

.featureTwo .sec-heading,
.featureThree .sec-heading {
    margin-bottom: 3.125rem;
}

.featureTwo .sec-para {
    color: var(--para-);
    margin-bottom: 2.88rem;
}

.featureTwo .small-para {
    color: var(--para-);
}

.font-rounded i {
    font-size: 1.125rem;
    color: var(--pri--col)
}


/* -----------FeatureThree----------- */



/* --------------Awesome------------- */

.awesome .font-rounded {
    width: 4.375rem;
    height: 4.375rem;
}

.awesome .font-rounded i {
    font-size: 1.5rem;
}


.awesome .sec-heading {
    color: var(--tab-bg)
}


/* ----------- Pricing Section -------------- */

.pricing-card .pri-heading {
    color: var(--smallTitle-);

}

.pricing-card .card-header {
    background-color: var(--tab-bg);
}

.pricing-card .sec-heading {
    padding: 1.375rem 0;
    margin-bottom: 0;
    border-bottom: 1px solid var(--card-header);
}

.pricing-card .sec-para {
    /* padding: 1.875rem 0; */
    color: var(--white-col);
    font-size: 2.188rem;
}

.pricing-card span {
    font-size: 5.875rem;
    transform: translateX(-10px);
    display: inline-block;
}

.pricing-card small {
    padding: 1.563rem 0;
    font-weight: 500;
}

.pricing-card .list-group-item {
    color: var(--para-);
    font-size: 0.875rem;
    border: 0;
    border-radius: 0;
}

.pricing-card li:not(li:last-child) {
    border-bottom: 1px solid var(--card-header);
}

.fixed {
    height: calc(17.938rem - 1px);
}

.fixed-card-2 {
    height: calc(21.125rem - 1px);
}

.card-border-bottom {
    height: 5px;
    background-color: var(--pri--col);
    margin: 0;
}

.border-content {
    background-color: var(--pri--col);
    margin: 0;
}


/* ---------- Customer Feedback ------------- */

.user-feedback {
    width: 85%;
}



.user-feedback .sec-para {
    padding: 1.563rem 0.938rem;
    color: var(--para-);
    background-color: var(--card-header);
    border-radius: 5px;
    line-height: 1.2;
}


.customer-feedback .trangle::before {
    left: 1.875rem;
    border-top: 0.938rem solid var(--card-header);
}

.feedback-info .sec-heading{
    color : var(--tab-bg)
}

.customer-feedback .small-para{
    color: var(--para-);
}



/* Design section */

.design{
    background-image: url("../images/img-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.design .shortBorderWhite::before{
    left: 50%;
    transform: translateX(-50%);
}

.design .sec-para{
    color: #ababab;
    margin-bottom: 30px;
}